@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url("./src//fonts/HelveticaNeueCyr-Black.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("./src//fonts/HelveticaNeueCyr-Bold.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Heavy";
  src: url("./src//fonts/HelveticaNeueCyr-Heavy.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("./src//fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("./src//fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("./src//fonts/HelveticaNeueCyr-Roman.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("./src//fonts/HelveticaNeueCyr-Thin.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  src: url("./src//fonts/HelveticaNeueCyr-UltraLight.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: start; */

  background-color: rgb(1, 8, 9);
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: .25;
}

#davidprince-main {
  color: #fff;
  width: 100vw;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding: 20px;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.division-line {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  user-select: none;
}

.division-line .dots {
  line-height: normal;
  font-size: .8em;
  margin-right: 10px;
}

.division-line .line {
  width: 80%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

#dp-social-network {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: .5em;
  font-size: .85em;
  color: #dcdcdc;
  font-family: 'HelveticaNeueCyr-Black';
}

h2 {
  text-align: center;
  font-size: 1.3em;
}

.photo {
  width: 300px;
  height: 350px;
  object-fit: cover;
  mask-image: none;
  -webkit-mask-image: linear-gradient(black 50%, transparent 95%);
}

.diferente-rave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.a-spirit-of-live-logo {
  width: 250px;
  position: relative;
  margin-top: 10px;
}

.a-spirit-of-live-logo img {
  width: 100%;
  object-fit: cover;
}

.a-spirit-of-live-logo .blur {
  position: absolute;
}

.a-spirit-of-live-logo .blur {
  filter: blur(5px);
  animation: flicker 3s infinite;
  top: -10px;
  left: 0;
}

#dr-social-network {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}